body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

#cougar {
  background: #B26219;
  clear: both;
  padding-bottom: 20px;
  padding-top: 20px;

}

#lion {
  background: #FFBD82;
  padding-top: 20px;
  padding-bottom: 20px;
}

#tiger {
  background: #FFD5AE;
  padding-bottom: 20px;
  padding-top: 20px;
}

article {
  background: #fff;
  width: 600px;
  color: #000;
  margin: 50px auto;
  padding: 20px 40px;
  box-sizing: border-box;
}
header {
  margin-left: 30px;
}

h1 {
  display: inline-block;
  margin: 0;
}

h2 {
  text-align: center;
}

#cougar > p, #lion > p, #tiger > p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  height: 100px;
  box-sizing: border-box;
}


/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

nav {
  float: right;
  margin-top: 20px;
  width: 30%;


}
nav ul {
  list-style: none;
  margin-top: 0;
}
nav li{
  float: left;
  margin-left: 20px;
}
